

#left-panel {
    display: block;
    font-size: inherit;
    position: absolute;
    width: 7em;
    margin: 0px 10px;
}

#left-panel hr {
    border: 0; 
    height: 1px;
    width: 100px; 
    background-image: linear-gradient(to left, #f0f0f0, #8c8c8c, #f0f0f0);

}

#left-panel ul {
    margin: 0;
    padding: 0;
}

#left-panel ul a {
    border-radius: 2.5px;
    display: block;
    color: #4c4c4c;
    text-align: center;
    padding: 5px 16px;
    cursor: pointer;
}

#left-panel ul a:hover {
    background-color: lightgray;
}




#body {
    margin: 0px 10px 0px 136px;
}

#body a {
    color: #000000;
    font-family: 'Open Sans',Arial,Helvetica,Verdana,sans-serif;
}

#body .ShopItemName a {
    cursor: pointer;
    
}

#body .ShopItemName a:hover {
    color: #038ae4;
}

.ShopItem {
    position: relative;
    background: #fff;
    border: 1px solid #eaeaea;
    margin: 10px;
    float: left;
    width: 188px;
    height: 198px;
}

.ShopItem:hover {
    border: 1px solid rgb(192, 190, 190);
}

.ShopItemName {
    text-align: left;
    margin: 6px 7px;
    background-color: white;
    position: absolute;
}

.ShopItemImage {
    text-align: center; 
    position: absolute;
    margin: 33px 8px;
}

.ShopItemImage img {
    max-width: 170px;
    max-height: 120px;
}

.ShopItemCost {
    margin: 170px 10px;
    background-color: white;
    float: left;
    position: absolute;
    font-weight: bold;
}


.ShopItemButton {
    margin: 169px 100px;
    position: absolute;
    width: 88px;
}

.ShopItemButton button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;   
    outline: none;
}   
.ShopItemButton button:hover {
    transform: translateX(-10px);
    transition: 0.2s;
}

.ShopItemButton button span {
    display: inline-block;
    position: relative;
    transition: 0.2s;
}
  
.ShopItemButton button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    margin: -1px;
    right: -10px;
    transition: 0.2s;
}
  
.ShopItemButton button:hover span {
    padding-right: 10px;
}
  
.ShopItemButton button:hover span:after {
    opacity: 1;
    right: 0;
}

.ShopItemButton button:active {
    background-color: #3e8e41;
    transition: 0s;
}
