

#left-panel {
    display: block;
    font-size: inherit;
    position: absolute;
    width: 7em;
    margin: 0px 10px;
}

#left-panel hr {
    border: 0; 
    height: 1px;
    width: 100px; 
    background-image: linear-gradient(to left, #f0f0f0, #8c8c8c, #f0f0f0);
}

#left-panel ul {
    margin: 0;
    padding: 0;
}

#left-panel ul a {
    border-radius: 2.5px;
    display: block;
    color: #4c4c4c;
    text-align: center;
    padding: 5px 16px;
    cursor: pointer;
}

#left-panel ul a:hover {
    background-color: lightgray;
}


#body {
    margin: 0px 10px 0px 136px;
}